* {
    background-color: #171717;
}

body {
    margin: 4%;
    box-sizing: border-box;
}

.menu-button {
    height: 44px;
    background-color: #ECECEC;
    border: #424242 solid 1px;
    color: #212121;
    border-radius: 22px;
    padding: 0px 20px;
    
}

/* When menu is closed */
.menu {
    display: none;
}

/* When menu is open */
.menu.open {
    display: flex;
}

nav {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}