* {
    background-color: white;
    box-sizing: border-box;
}

/* Default (for larger screens like desktop) */
body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C1D20;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Vollbild-Ladeanimation */
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader p {
    background-color: transparent;
}

/* Hero section  */
.hero-section-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: block;
    width: 40vw;
    text-align: center;
    gap: 24px;
}

.hero-section h1 {
    font-size: 32px;
}
.hero-section h5 {
    font-size: 14px;
    color: #999999;
    font-weight: 200;
}
.primary-button {
    height: 44px;
    padding: 0px 16px;
    border-radius: 21px;
    color: #424242;
    background-color: #EFF3F4;
    border-color: transparent;
}
.secondary-button {
    height: 44px;
    margin: 16px 0px; 
    color: #424242;
    background-color: white;
    text-decoration: underline;
    border-color: transparent;
}


/* When Menu is closed and nav-container should be visible */
.nav-container.visible {
    position: fixed;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column-reverse;
    bottom: 3vh;
    opacity: 1;
    background-color: transparent;
}

.menu-button {
    margin: 40px;
    height: 44px;
    padding: 0px 16px;
    border-radius: 21px;
    color: #424242;
    background-color: white;
    border: 1.6px solid #e9e9e9;
}

/* nav-container isnt visible */
.nav-container {
    bottom: -100px;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease; 
}

.menu-button:hover {
    border: 1.6px solid #cfcfcf;
}

.menu-container {
    display: none;
    font-size: 1rem;
    color: black;
}


/* When Menu is open */
.menu-container.open {
    display: block;
}

.nav-container.open {
    background-color: white;
    top: 3vh;
    bottom: 3vh;
    left: 3vh;
    right: 3vh;
    border-radius: 8px;
}


/* Tablet-specific styles */
@media (max-width: 1024px) {
    body {
        font-size: 17px;
    }
}


/* Mobile-specific styles */
@media (max-width: 768px) {
    .hero-section {
        width: 80vw;
    }
}
